.classpath
.project
.settings
.springBeans
*.iml
*.ipr
*.iws
*.log
*.gz
classes
.idea
target
build
dist
node_modules
.gradle
.DS_Store
vieques-ui/
vieques-service/logs
*.orig
.swp
.metadata
stellar.yaml